<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS_ABSOLUTE_PATH" value="./"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_ABSOLUTE_PATH}/rolling.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="prd">
        <root level="ERROR">
            <appender-ref ref="ROLLING"/>
        </root>
    </springProfile>
    <springProfile name="!prd">
        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="ROLLING"/>
        </root>
    </springProfile>

</configuration>
